In [2]:
import numpy as np
import pandas as pd

# warm-up 1

In [1]:
list =[0,1,2,3,4,5,6,7,8,9]
rev_list= [list[len(list)-1-k] for k in range(len(list))]
rev_list

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [2]:
rev_list_2 = [k/2. for k in rev_list] 
rev_list_2

[4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.5, 0.0]

# Group exercise 1

In [3]:
def dotp(a,b):
    try:
        result= sum([a[i-1]*b[i-1] for i in range(max(len(v1), len(v2)))])
    except IndexError:
        print("Vectors should have the same length!")
    except TypeError:
        print("Both inputs should be vectors!")
    except Exception as e: #Except all other errors
        print(e) 
    else:
        print(result)

# Group exercise 2

In [ ]:
## my manual one hot encoder
import numpy as np
data = 'hello world'
alphabet='abcdefghijklmnopqrstuvwxyz '

#create a list dictionary with the nth letter of alphabet as key and n as value
alphabet_l=np.arange(len(alphabet))
dict_l=dict(zip(alphabet, alphabet_l))

#translate data by replacing every character with the number of their position in the list dictionary
list_encode=[]
for char in data:
    list_encode.append(dict_l[char])

#create a unity matrix of len(alphabet)  
alphabet_m=np.identity(len(alphabet))
#create a matrix dictionary with the nth letter of alphabet as key and n as value and nth row of unity matrix as value
dict_m = dict(zip(alphabet, alphabet_m))

#translate data by replacing every character with the corresponding row of the matric dictionary
one_hot_encode=[]
for char in data:
    one_hot_encode.append(dict_m[char])
    translation_m=np.array(one_hot_encode)

print(data)
print('')
print(list_encode)
print('')
print(translation_m)

### encoding the neighborhood_group column of the Belize_airbnb dataframe:

In [7]:
#reading the data:
df=pd.read_csv('belize_airbnb_listings.csv')
alphabet=df['neighbourhood_group'].unique()
data= df['neighbourhood_group']

#create a unity matrix of len(alphabet)  
alphabet_m=np.identity(len(alphabet))
#create a matrix dictionary with the nth letter of alphabet as key and n as value and nth row of unity matrix as value
dict_m = dict(zip(alphabet, alphabet_m))

#translate data by replacing every character with the corresponding row of the matric dictionary
one_hot_encode=[]
for char in data:
    one_hot_encode.append(dict_m[char])
    translation_m=np.array(one_hot_encode)
#print(translation_m)

#creating an empty column and filling it up with the corresponding row vectors of the translation matrix:
df['encoded']=""
for i in range(len(translation_m)):
    df['encoded'][i]=translation_m[i]
df[['neighbourhood_group', 'encoded']]

C:\Users\Lara\AppData\Local\Temp\ipykernel_17336\3107281106.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['encoded'][i]=translation_m[i]

     neighbourhood_group                         encoded
0                 Belize  [1.0, 0.0, 0.0, 0.0, 0.0, 0.0]
1                 Belize  [1.0, 0.0, 0.0, 0.0, 0.0, 0.0]
2                 Belize  [1.0, 0.0, 0.0, 0.0, 0.0, 0.0]
3            Stann Creek  [0.0, 1.0, 0.0, 0.0, 0.0, 0.0]
4                 Belize  [1.0, 0.0, 0.0, 0.0, 0.0, 0.0]
...                  ...                             ...
2791              Belize  [1.0, 0.0, 0.0, 0.0, 0.0, 0.0]
2792             Corozal  [0.0, 0.0, 0.0, 0.0, 1.0, 0.0]
2793              Belize  [1.0, 0.0, 0.0, 0.0, 0.0, 0.0]
2794              Belize  [1.0, 0.0, 0.0, 0.0, 0.0, 0.0]
2795                Cayo  [0.0, 0.0, 0.0, 1.0, 0.0, 0.0]

[2796 rows x 2 columns]

# Group exercise bonus

In [ ]:
from collections.abc import Iterable
def cross(a,b):
    if type(a) != type(b):
        print('Inputs should have the same types')
    elif isinstance(a, Iterable) == False:
        print('Both inputs should be iterables')
    elif len(a) != len(b):
        print('The two inputs shouls have the same length')
    elif len(a) != 3:
        print('Both vectors shoudl have length 3')
    else:
        product=[a[(k+1)%3]*b[(k+2)%3]-b[(k+1)%3]*a[(k+2)%3] for k in range (3) if len(a)==len(b)==3]
        print(product)